[Unit]
Description=My discord bot writed by python
After=network.target

[Service]
ExecStart=/home/pi/Github/pyBot/dcBot-env/bin/python bot.py
WorkingDirectory=/home/pi/Github/pyBot
Type=simple

User=pi
Restart=always
StandardOutput=file:/var/log/pyBot.log
StandardError=append:/var/log/pyBotErr.log

[Install]
WantedBy=multi-user.target
